*{
    margin: 0;
    padding: 0;

}



header{
    display: flex;
    justify-content: space-between;
}
.image,.title{
    margin: auto 50px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: darkblue;
    width: 100%;
    position: fixed;
    bottom: 0;

}
footer a{

    color: white;
    margin: 150px 50px;
    text-decoration: none;
}